
<div id="signuppage">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <form class="form-signin" action="/users" method="post" id="signup">
          <img class="mb-4" src="/images/logo.gif" >
          <h1 class="h3 mb-3 font-weight-normal">Welcome!~</h1>
          <label for="name" class="sr-only">Name</label>
          <input id="name" type="text" name="name" class="form-control" placeholder="Name" required autofocus>

          <label for="username" class="sr-only">Username</label>
          <input id="username" type="text" name="username" class="form-control" placeholder="Username" required autofocus>

          <label for="house_name"><h5>Pick your Hogwart's House</h5></label> <br>
          <input type="checkbox" name="house_name" value="ravenclaw"> Ravenclaw
          <input type="checkbox" name="house_name" value="slytherin"> Slytherin
          <br>
          <input type="checkbox" name="house_name" value="hufflepuff"> Hufflepuff
          <input type="checkbox" name="house_name" value="gryffindor"> Gryffindor


          <label for="paswword" class="sr-only">Password</label>
          <input id="password" type="password" name="password" class="form-control" placeholder="Username" required autofocus>
          <label for="password_confirmation" class="sr-only">Password Confirmation</label>
          <input id="password_confirmation" type="password" name="password_confirmation" class="form-control" placeholder="Re-type your password" required autofocus>


          <button class="btn btn-lg btn-dark btn-block" type="submit">Sign Up</button>

          <% if @user && @user.errors.any? %> <!-- check for error and if it is a user. cant call nil on errors -->
            <% @user.errors.full_messages.each do |error|%>
            <p>
              <button type="button" class="btn btn-outline-warning">
                ✨<%= error %>✨
              </button>
            </p>
            <% end %>
          <% end %>


          <p class="mt-5 mb-3 text-muted">&copy;oded with ✨<i class="fas fa-magic"></i>✨ </p>
        </form>
      </div>
    </div>
  </div>
</div>
